<ul>
  <%- @list.cards.each do |card| %>
    <li class="list-group-item <%= disabled_class_name(card) %>">
      <%= link_to card_path(card) do %>
        <%= card.name %>

        <span class='badge pull-right margin-tb-5'>
          <%= card.checklists.progress %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>