<h3>Cards</h3>
<div class='items'>
  <%= f.nested_fields_for :cards do |c| %>
    <fieldset class="item">
      <div class='nested-inputs pull-left margin-r-10 margin-tb-10'>
        <%= c.text_field :name, placeholder: 'card name', class: 'form-control' %>
        <%= c.text_area :description, placeholder: 'card description', class: 'form-control' %>
        <%= c.hidden_field :id %>
        <%= c.hidden_field :_destroy %>
      </div>

      <a href="#" class="remove btn btn-danger btn-xs margin-tb-20">remove</a>

    </fieldset>
  <% end %>
</div>

<div class='action margin-tb-10'>
  <a href="#" class="add btn btn-info btn-xs">add card</a>
</div>

<% content_for :javascript do %>
  <script>
    $(document).ready(function(e) {
      $('form').nestedFields();
    });
  </script>
<% end %>