<%= form_for setup_list(@list), html: { multipart: true, class: 'center-block' } do |f| %>
  <%= errors_wrapper(@list) %>

  <%= f.label :only_me %>
  <%= f.check_box :only_me %>

  <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>

  <%= render partial: 'lists/card_form', locals: { f: f } %>

  <%= f.submit 'save', class: 'btn btn-success' %>
<% end %>