<div class='row'>
  <%- @lists.get_subject.each do |list| %>
    <section class='col-xs-12 col-sm-6 col-md-4'>
      <div class='panel panel-default'>
        <div class="panel-heading clearfix <%= is_my(list) %>">
          <%= link_to list_path(list) do %>
            <h2 class='pull-left'>
              <small><%= list.name %></small>
            </h2>

            <%= image_tag list.user.gravatar, class: 'img-circle margin-rl-10 pull-left', size: '25x25' %>

            <span class='badge pull-right margin-tb-5'>
              <%= list.cards.length %>
            </span>
          <% end %>
        </div>

        <div class='panel-body'>
          <%= @lists.favorite_button(current_user, list) %>
        </div>
      </div>
    </section>
  <% end %>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    var dates = <%= raw @lists.updates_favorite_lists(current_user) %>;
    new Event(dates, '/lists/stream')
  </script>
<% end %>