<h2>Edit list: <%= @list.name %></h2>

<%= render 'lists/form' %>

<div class='external-buttons padding-tb-10'>
  <%= link_to 'delete', list_path(@list), method: :delete, class: 'btn btn-danger' %>
</div>