<div id='cards' class='padding-tb-10'>
  <section class='list-group'>
    <div class='list-group-item active clearfix'>
      <h4 class='pull-left'>
        <%= @list.name %>
      </h4>

      <%= @list.edit_button(current_user) %>
    </div>
    <%= render @list.card_partial %>
  </section>
</div>

<%= link_to 'back', lists_path, class: 'btn btn-primary' %>

<%= content_for :javascript do %>
  <script type="text/javascript">
    var dates = ["<%= @list.updated_at.strftime('%d/%m/%Y %I:%M:%S') %>"];
    new Event(dates, "/lists/<%= @list.id %>/show_stream")
  </script>
<% end %>