
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'center-block' }) do |f| %>
  <h2>Resend confirmation instructions</h2>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-success' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>