<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'center-block' }) do |f| %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'password', class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'password_confirmation', class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, placeholder: 'current_password', class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="actions margin-tb-10">
    <%= f.submit "Update", class: 'btn btn-success' %>
    <%= link_to "Back", :back, class: 'btn btn-default' %>
  </div>
<% end %>

<div class='account-cancel'>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
</div>