<%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'center-block' } do |f| %>
  <h2>Sign up</h2>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'password', class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="actions margin-tb-10">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

