<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <h2>Change your password</h2>

  <%= devise_error_messages! %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, placeholder: 'password', class: 'form-control', autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="actions margin-tb-10">
    <%= f.submit "Change my password", class: 'btn btn-success' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

