<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'center-block' }) do |f| %>
  <h2>Forgot your password?</h2>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true %>
  </div>

  <div class="actions margin-tb-10">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

