<ul class='nav nav-pills pull-right'>
  <li class='margin-tb-10'>
    <a class='reload hidden label label-success margin-tb-5'>
      refresh
    </a>
  </li>

  <li class='margin-tb-10'>
    <%= link_to edit_user_registration_path do %>
      <%= image_tag current_user.gravatar, class: 'img-circle', size: '25x25' %>
    <% end %>
  </li>

  <li class='margin-tb-10'>
    <%= link_to 'lists', lists_path, class: 'text-muted' %>
  </li>

  <li class='margin-tb-10'>
    <%= link_to 'favorites', favorites_lists_path, class: 'text-muted' %>
  </li>

  <li class='margin-tb-10'>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'text-muted' %>
  </li>
</ul>