<ul class='nav nav-pills pull-right'>
  <li class='margin-tb-10'>
    <%= link_to 'login', new_user_session_path, class: 'text-muted' %>
  </li>

  <li class='margin-tb-10'>
    <%= link_to 'sign up', new_user_registration_path, class: 'text-muted' %>
  </li>
</ul>