<nav class='navbar navbar-default navbar-inverse padding-rl-20'>
  <div class='navbar-header pull-left'>
    <%= link_to root_path do %>
      <h1>
        <small>Todo List</small>
      </h1>
    <% end %>
  </div>

  <%= render nav_partial %>
</nav>