<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'center-block' } do |f| %>
  <h2>Log in</h2>

  <div class="field">
    <%= f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'password', class: 'form-control', autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions margin-tb-10">
    <%= f.submit "Log in", class: 'btn btn-success' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

