<ul class='list-group'>
  <li class='list-group-item active'><h4>Checklist</h4></li>
  <div class='items'>
    <%= f.nested_fields_for :checklists do |c| %>
      <li class='list-group-item'>

        <fieldset class="item">
          <div class='nested-inputs pull-left margin-tb-10'>
            <%= render partial: @card.checklist_partial(c.object), locals: { c: c } %>
            <%= c.hidden_field :id %>
            <%= c.hidden_field :_destroy %>
          </div>

          <a href="#" class="remove btn btn-danger btn-xs margin-tb-10">remove</a>

        </fieldset>
      </li>
    <% end %>
  </div>

  <div class='actions margin-tb-10'>
    <a href="#" class="add btn btn-info btn-xs">add checklist</a>
  </div>
</ul>

<% content_for :javascript do %>
  <script>
    $(document).ready(function(e) {
      $('form').nestedFields();
    });
  </script>
<% end %>