<section>
  <%= form_for setup_card(@card.get_subject), html: { multipart: true, class: 'center-block' } do |f| %>
    <%= errors_wrapper(@card.get_subject) %>

    <div class='clearfix'>
      <h2 class='pull-left'>
        <%= @card.name %>
      </h2>

      <%= @card.closed_label %>
    </div>

    <p>
      <%= @card.description %>
      <%= f.hidden_field :updated_at, value: Time.now %>
    </p>

    <div id='checklists' class='padding-tb-10'>
      <%= render partial: 'cards/checklists', locals: { f: f } %>
    </div>

    <div class='actions'>
      <%= f.submit 'save', class: 'btn btn-success' %>
      <%= link_to 'close', close_card_path(@card.id), class: 'btn btn-info' %>
      <%= link_to 'delete', card_path(@card.id), method: :delete, class: 'btn btn-danger' %>
      <%= link_to 'back', list_path(@card.list), class: 'btn btn-default' %>
    </div>
  <% end %>
</section>

<%= content_for :javascript do %>
  <script type="text/javascript">
    var dates = ["<%= @card.updated_at.strftime('%d/%m/%Y %I:%M:%S') %>"];
    new Event(dates, "/cards/<%= @card.id %>/show_stream")
  </script>
<% end %>