html, body, #content
  background-color: #eeeeee

#content
  margin: 0
  padding-bottom: 0

ul
  margin: 0
  padding: 0

.navbar
  margin: 0 !important

  h1
    margin-top: 6px

#list
  h2
    margin: 0
    line-height: 18px

span.checked
  text-decoration: line-through

form
  width: 600px


  fieldset
    .nested-inputs
      width: 89%

  .form-control
    margin-top: 5px

  #error_explanation
    background: rgb(249, 178, 178)
    padding: 10px
    margin: 20px 0

    h2
      font-size: 16px

    ul
      color: rgb(73, 18, 18)
      padding: 10px 30px

.account-cancel, .external-buttons
  margin: 0 auto
  width: 600px

.is_my
  background: rgba(186, 186, 186, 0.8) !important
  small
    font-weight: bold