.margin-5
  margin: 5px

.margin-tb-5
  margin: 5px 0

.margin-rl-5
  margin: 0 10px

.margin-10
  margin: 10px

.margin-tb-10
  margin: 10px 0

.margin-rl-10
  margin: 0 10px

.margin-r-10
  margin-right: 10px

.margin-20
  margin: 20px

.margin-tb-20
  margin: 20px 0

.margin-rl-20
  margin: 0 20px

.margin-30
  margin: 30px

.margin-tb-30
  margin: 30px 0

.margin-rl-30
  margin: 0 30px