<!DOCTYPE html>
<html>
  <head>
    <title>Todo list</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' unless controller_name == 'sessions' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/nav' %>

    <main id='content' class='jumbotron padding-20'>
      <%= notices_wrapper %>
      <%= alerts_wrapper %>

      <%= yield %>
    </main>
  </body>
  <%= yield :javascript %>
</html>
